<div>
    <section>
        <h1>{{name}}</h1>
        <h3>{{description}}</h3>
        <h3>{{price}}</h3>
        <b>Category: {{category}}</b>
    </section>

    {{#with features}}
    <section>
        <h3>Processor</h3>
        {{#with processor}}
        Brand: {{brand}}
        <br>
        Model: {{model}}
        <br>
        Speed: {{speed}}
        <br>
        Cores: {{cores}}
        <br>
        Cache: {{cache}}
        {{/with}}
    </section>

    <section>
        <h3>Memory</h3>
        {{#with memory}}
        Type: {{type}}
        <br>
        Size: {{size}}
        <br>
        Speed: {{speed}}
        {{/with}}

    </section>
    <section>
        <h3>Storage</h3>
        {{#with storage}}
        Type: {{type}}
        <br>
        Size: {{size}}
        {{/with}}
    </section>
    <section>
        <h3>Display</h3>
        {{#with display}}
        Size: {{size}}
        <br>
        Resolution: {{resolution}}
        <br>
        Technology: {{technology}}
        <br>
        Color space: {{color_space}}
        <br>
        Brightness: {{brightness}}
        <br>
        Refresh rate: {{refresh_rate}}
        {{/with}}
    </section>
    <section>
        <h3>Graphics</h3>
        {{#with graphics}}
        Brand: {{brand}}
        <br>
        Model: {{model}}
        <br>
        Memory: {{memory}}
        {{/with}}
    </section>
    <section>
        <h3>Ports</h3>
        {{#each ports}}
        Type: {{type}}
        <br>
        Count: {{count}}
        <br>
        {{#each features}}
        {{this}} <br>
        {{/each}}
        {{/each}}
    </section>
    <section>
        <h3>Battery</h3>
        {{#with battery}}
        Type: {{type}}
        <br>
        Capacity: {{capacity}}
        <br>
        Life: {{life}}
        {{/with}}
    </section>
    <section>
        <h3> Weight: {{weight}}</h3>
    </section>
    <section>
        <h3> Dimensions</h3>
        {{#with dimensions}}
        Height: {{height}}
        <br>
        Width: {{width}}
        <br>
        Depth: {{depth}}
        {{/with}}
    </section>
    <section>
        <h3>Operating system {{operating_system}}</h3>
    </section>
    <section>
        <h3>Accessories</h3>
        {{#each accessories}}
        {{name}} {{price}}
        <br>
        {{/each}}
    </section>

    {{/with}}

</div>