<div>
    {{#with program/excursion}}
    <div>
        <h1>{{name}}</h1>

        {{#with location}}

        <h3> {{city}}, {{country}} </h3>

        {{/with}}
        <br>
        <br>
        {{date}}

        <hr>

        {{#each program}}
        <p>{{name}}</p>

        {{type}}
        <br>
        Duration: {{duration}} Day
        <br>
        {{#with details}}
        {{#with museum}}
        Museum: {{name}}
        <br>
        Location:

        {{#each location}}
        {{this}},
        {{/each}}
        <hr>
        {{#each exhibits}}

        {{name}}
        <br>
        {{artist}}
        <br>
        {{description}}
        <br>
        {{#if audio_guide}}
        <a href=""> Audio guide this</a>
        {{/if}}
        <br>
        {{/each}}
        {{/with}}

        {{#with venue}}
        {{name}} <br>
        {{#with location}}

        {{address}}, {{city}}, {{country}}

        <hr>
        {{/with}}
        {{/with}}

        {{#each performers}}
        {{name}},<br> {{type}} <br><br>
        {{/each}}
        <hr>
        {{#each guide}}
        <br> {{this}}
        {{/each}}
        <hr>
    </div>
    {{/with}}

    {{/each}}

    {{/with}}
</div>