<main class="m-3 me-1 col-12">
    <div class="row">
        <div class="card ">
            <div class="nav nav-tabs">
                {{#each navigation/links}}
                <a href="{{href}}" class="nav-link">{{text}}</a>
                {{/each}}
                <a href="#" class="nav-link disabled">Disabled</a>
            </div>
        </div>
        <div class="my-5">
            <h1>{{header}}</h1>
        </div>

        <div class="col-8 ">
            {{#with contacts_data}}

            <h3>{{title}}</h3>

            {{#each buttons}}
            <button
                class="btn {{#if isPrimary}} btn-warning text-light {{/if}} {{#if isOutline}} btn btn-outline-warning {{/if}}">
                {{text}}
            </button>
            {{/each}}
            <div class="col-12 gx-2">
                <div class="row">
                    {{#with form}}

                    {{#with input}}

                    <div class="col-6 my-2">
                        {{#with surname}}
                        <label class="form-label">{{label}}</label>
                        <input class="form-control" placeholder="{{placeholder}}">
                        <div class="form-text">{{caption}}</div>
                        {{/with}}
                    </div>


                    <div class="col-6 my-2">
                        {{#with name}}
                        <label class="form-label">{{label}}</label>
                        <input class="form-control" placeholder="{{placeholder}}">
                        <div class="form-text">{{caption}}</div>
                        {{/with}}
                    </div>

                    <div class="col-6 my-2">
                        {{#with phone}}
                        <label class="form-label">{{label}}</label>
                        <input class="form-control" placeholder="{{placeholder}}">
                        <div class="form-text">{{caption}}</div>
                        {{/with}}
                    </div>

                    <div class="col-6 my-2">
                        {{#with email}}
                        <label class="form-label">{{label}}</label>
                        <input class="form-control" placeholder="{{placeholder}}">
                        <div class="form-text">{{caption}}</div>
                        {{/with}}
                    </div>

                    {{/with}}
                </div>


                <div class="my-3">
                    <hr>
                </div>

                {{#each switch}}
                <div class="col-12 my-3">
                    <div class="form-check form-switch">
                        <label class="form-check-label">{{text}}
                            <input {{#if isActive}} checked {{/if}} name="food" type="checkbox"
                                class="form-check-input">
                        </label>
                    </div>
                </div>
                {{/each}}
                {{/with}}

            </div>


            <div class="my-3">
                <hr>

                {{/with}}
            </div>


            <div class="col-12">
                {{#with delivery}}
                <h3>{{title}}</h3>


                <div class="card">
                    <div class="row g-1">
                        {{#each select}}
                        <div class="p-3 col-6">
                            <label class="form-label">{{label}}</label>
                            <select class="form-select form-select-sm">
                                <option selected> {{placeholder}} </option>
                                {{#each options}}
                                <option value="{{value}}">{{text}}</option>
                                {{/each}}
                            </select>
                        </div>

                        {{/each}}

                    </div>

                </div>

                <div>


                    <div class="pt-3">
                        {{#each delivery_type}}
                        <label class="form-check-label row g-1">
                            <input class="mx-2 form-check-input" type="radio" name="delivery_type">
                            {{type}}
                            {{/each}}</label>
                    </div>

                </div>
                <div class="my-3">
                    <hr>
                </div>

                <div class="p">
                    {{#with payment}}
                    <h3 class="pb-2">{{title}}</h3>

                    {{#each list}}
                    <label class="form-check-label row g-1">
                        <input class="mx-2 form-check-input" type="radio" name="delivery_type">
                        {{type}}
                        <div class="form-text">{{description}}</div>

                        {{/each}}
                    </label>

                    {{/with}}
                </div>

                <div class="my-3">
                    <hr>
                </div>
                <div class="col-12">
                    {{#with contact}}

                    <h3>{{title}}</h3>

                    <div class="col-12 gx-2">
                        <div class="row">
                            <div class="col-6 my-2">
                                {{#with surname}}
                                <label class="form-label">{{label}}</label>
                                <input class="form-control" placeholder="{{placeholder}}">
                                <div class="form-text">{{caption}}</div>
                                {{/with}}
                            </div>


                            <div class="col-6 my-2">
                                {{#with name}}
                                <label class="form-label">{{label}}</label>
                                <input class="form-control" placeholder="{{placeholder}}">
                                <div class="form-text">{{caption}}</div>
                                {{/with}}
                            </div>

                            <div class="col-6 my-2">
                                {{#with phone}}
                                <label class="form-label">{{label}}</label>
                                <input class="form-control" placeholder="{{placeholder}}">
                                <div class="form-text">{{caption}}</div>
                                {{/with}}
                            </div>

                            <div class="col-6 my-2">
                                {{#with email}}
                                <label class="form-label">{{label}}</label>
                                <input class="form-control" placeholder="{{placeholder}}">
                                <div class="form-text">{{caption}}</div>
                                {{/with}}
                            </div>
                        </div>
                    </div>
                    {{/with}}
                </div>

                <div class="my-3">
                    <hr>
                </div>


                <div class="mb-3">
                    {{#with coment}}
                    <label class="form-label">{{label}}</label>
                    <input type="text" class="form-control" placeholder="{{placeholder}}">
                    {{/with}}
                </div>


                {{/with}}

            </div>

            <div class="mt-4">
                <hr>
            </div>


            <div class="">
                {{#with coupon}}
                <h3>{{title}}</h3>
                {{!-- --}}

                {{#with select}}

                {{#with availabel_coupon}}
                <div class="col-12 py-2">
                    <label class="form-label">{{label}}</label>
                    <select class=" form-select form-select-lg">
                        <option selected> {{placeholder}} </option>
                        {{#each options}}
                        <option value="{{value}}">{{text}}</option>
                        {{/each}}
                    </select>
                </div>
                {{/with}}

                {{#with friend_coupon}}
                <div class="col-12">
                    <label class="form-label">{{label}}</label>
                    <select class=" form-select form-select-sm">
                        <option selected> {{placeholder}} </option>
                        {{#each options}}
                        <option value="{{value}}">{{text}}</option>
                        {{/each}}
                    </select>
                </div>
                {{/with}}

                {{/with}}

                <div>
                    {{#with add}}
                    {{#with friend}}
                    <div class="my-3">

                        <label class="form-label ">{{label}}</label>
                        <input type="text" class="form-control form-control-lg" placeholder="{{placeholder}}">
                        <div class="form-text">{{caption}}</div>
                        {{/with}}
                    </div>
                    {{#with colleague}}
                    <div class="my-3">

                        <label class="form-label ">{{label}}</label>
                        <input type="text" class="form-control" placeholder="{{placeholder}}">
                        <div class="form-text">{{caption}}</div>
                        {{/with}}
                    </div>


                    {{/with}}

                </div>

                {{!-- --}}
                {{/with}}
            </div>

            <div class="mt-4">
                <hr>
            </div>

            <div>
                {{#with quiz}}
                <h3>{{title}}</h3>
                {{#with preference}}
                <p>{{title}}</p>
                <div>
                    {{#each options}}
                    <div>
                        <label class=" my-1 form-check-label row g-1">
                            <input class=" mx-2 form-check-input" type="radio" name="delivery_type">
                            {{this}}
                    </div>
                    {{/each}}
                    {{/with}}
                </div>
                <div class="mb-3">
                    {{#with your_expirience}}
                    <label class="form-label mb-1">{{label}}</label>
                    <input type="text" class="form-control">
                    {{/with}}
                </div>

                <div class="col-12 py-2">
                    {{#with purchase_frequency}}
                    <label class="form-label">{{label}}</label>
                    <select class=" form-select">
                        <option selected> {{placeholder}} </option>
                        {{#each options}}
                        <option value="{{value}}">{{text}}</option>
                        {{/each}}
                    </select>
                    {{/with}}
                </div>

                <div>
                    {{#with factors}}
                    <p>{{title}}</p>

                    {{#each options}}

                    <div>
                        <label class=" my-1 form-check-label row g-1">
                            <input class=" mx-2 form-check-input" type="checkbox" name="delivery_type">
                            {{this}}
                        </label>
                    </div>
                    {{/each}}
                    {{/with}}
                </div>

                {{/with}}
            </div>



        </div>



        <div class="col-4 ">
            <div class="card m-3">
                <div>
                    {{#each action_block}}
                    <button
                        class="m-2 btn btn-{{#if isSuccess}}success {{/if}}{{#if isDanger}}danger{{/if}}{{#if isInfo}}info {{/if}} text-light">{{text}}</button><br>
                    {{/each}}
                </div>
            </div>

            <div class="card m-3">
                <div class="m-2">
                    {{#with total}}
                    <h3>{{title}}</h3>
                    <div>
                        {{#each item_list}}
                        {{name}}: {{price}} <br>
                        {{/each}}
                    </div>
                    <hr class="my-1">

                    <div>
                        {{#each additional_info}}
                        {{text}}: {{value}} <br>
                        {{/each}}
                    </div>
                    <hr class="my-1">

                    <div class="my-2">
                        {{#with total_price}}
                        {{text}}: {{value}}
                        {{/with}}
                    </div>

                    <hr class="my-2">

                    <div class="">
                        {{#each button}}
                        <button
                            class="my-2 btn btn{{#if isPrimary}}-primary{{/if}}{{#if isOutline}}-outline-primary{{/if}}">{{text}}</button>
                        {{/each}}
                    </div>


                </div>
                {{/with}}
            </div>
        </div>

        <div class="col-12">
            <hr>
        </div>

        <div class="nav nav-tabs ">
            {{#each footer}}
            <div class="col-2 mx-2 flex-column">
                <a href="{{0/link}}" class="nav-link">{{0/text}}</a>
                <a href="{{1/link}}" class="nav-link">{{1/text}}</a>
                <a href="{{2/link}}" class="nav-link">{{2/text}}</a>
                <a href="{{3/link}}" class="nav-link disabled">{{3/text}}</a>
            </div>
            {{/each}}
        </div>



</main>