<main class="p-5">

    <div class="card ">
        <div class="nav nav-tabs">
            {{#each navigation/links}}
            <a href="{{href}}" class="nav-link">{{text}}</a>
            {{/each}}
            <a href="#" class="nav-link disabled">Disabled</a>
        </div>
    </div>

    <div class="col-12 my-5">

        <ol class="breadcrumb">
            {{#each breadcrumb}}
            <li class="breadcrumb-item {{#if url}}{{else}}disabled{{/if}}">
                {{#if url}}
                <a href="{{url}}" class="">{{name}}</a>
                {{else}}
                {{name}}
                {{/if}}
            </li>
            {{/each}}
        </ol>


    </div>

    <h1>{{header}}</h1>
    <div class="row">
        {{#each sortBlock}}
        <div class="col-3">
            <label class="form-label">{{label}}</label>
            <select class="form-select">
                <option selected> {{placeholder}} </option>
                {{#each options}}
                <option value="{{value}}">{{text}}</option>
                {{/each}}
            </select>
        </div>
        {{/each}}
    </div>


    <div class="row my-5">

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    {{#with filterBlock}}
                    <div>
                        {{#with sellers}}
                        <p>{{title}}</p>

                        {{#each list}}

                        <div>
                            <label class="form-check-label">
                                <input class=" form-check-input" type="checkbox" name="delivery_type">
                                {{value}}
                            </label>
                        </div>
                        {{/each}}
                        {{/with}}
                    </div>
                    <hr>
                    <div>
                        {{#with brands}}
                        <p>{{title}}</p>
                        <input class="form-control mb-2" placeholder="{{input.placeholder}}">
                        {{#each options}}
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="delivery_type">
                                {{value}}
                            </label>
                        </div>
                        {{/each}}
                        {{/with}}
                    </div>
                    <hr>
                    <div>
                        {{#with price}}
                        <p>{{title}}</p>
                        {{#each range}}
                        <input class="form-control mb-2" placeholder="{{this}}">
                        {{/each}}
                        {{#with button}}
                        <a href="{{link}}" class="btn btn-outline-secondary">{{text}}</a>
                        {{/with}}
                        {{/with}}
                    </div>
                    <hr>
                    <div>
                        {{#each filterList}}

                        {{> optionItem}}
                        {{#unless @last}}
                        <hr>
                        {{/unless}}

                        {{/each}}
                    </div>





                    {{/with}}
                </div>
            </div>
        </div>


        <div class="col-8">
            <div class="row g-1">
                {{#each goodsList}}
                <div class="col-6 card ">
                    {{> catalogItem }}

                </div>


                {{/each}}
            </div>
        </div>

    </div>

    <div>
        <div class="card text-bg-success">
            <div class="m-2 text-center">
                {{#with service}}

                <h2>{{title}}</h2>

                <p>{{description}} </p>

                {{#each buttons }}
                <div class="m-2">
                    <a href="{{link}}" class="btn btn-primary sm">{{text}}</a>
                </div>
                {{/each}}

                {{/with}}
            </div>
        </div>
    </div>

    <div class="my-5">
        <hr>
    </div>


    {{> footerItem}}


</main>